
.navbar-brand{
    padding-left: 50px;
}
.breadcrumb{
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 405px;
    width: 58%;
}
.breadcrumb-item  {
font-size: 40px;
}
.row{
    margin-left: 500px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.text{
    margin-left: 0%;
    text-align: center;
    text-justify: auto:
}
.img{
    margin-left: -70px;
    flex-direction: row;
}
.form-group{
    text-align: left;
}
.col-12{
    margin-left: -120px;
}
.contatos{
    width: 450px;
}
.lugar{
    margin-left: -200px;
}
.col-4{
    text-align: left;
    margin-top: 50px;
}
.esquerda{
    margin-left: -20px;
}