
.navbar-brand{
    padding-left: 50px;
}
.breadcrumb{
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 405px;
    width: 58%;
}
.breadcrumb-item  {
font-size: 40px;
}
.row{
    margin-left: 500px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.text{
    margin-left: 3%;
    text-align: center;
    text-justify: auto:
}
.img{
    flex-direction: row;
}
.form-group{
    text-align: left;
}